.pricing_area_area {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2rem;
}
.pricing_area_item:first-child {
  flex: 1;
}
.pricing_area_item:last-child {
  width: 200px;
}

.listing_add_beds_container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.4rem;
}
.listing_add_beds_container div {
  width: 100%;
}
