.searc_container {
  padding: 1rem 0.6rem;
  border-bottom: 1px solid #9f9f9f;
  padding-bottom: 1rem;
}
.search_user_main {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: white;
  border-radius: 16px;
  padding: 0 0.6rem;
}
.search_user_main input {
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  padding: 0.4rem 0.4rem;
}
.user_search_icon {
  font-size: 1.2rem;
  color: #003a46;
  cursor: pointer;
}
