.review_slider_main {
  background-color: #f5f5f5;
  padding: var(--pagepading);
  overflow-x: auto;
}

.review_slider_container {
  max-width: 60%;
  margin: 2rem auto;
  overflow-x: hidden;
}

@media (max-width: 756px) {
  .review_slider_container {
    width: 100%;
    max-width: 100%;
    
  }

  .review_slider_main {
    padding: 0;
  }
}
