.property_additional_detail_main {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-color: white;
  padding: 1rem;
}

.property_details_features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 0.6rem;
  margin-top: 1rem;
  width: 100%;
}

.property_description_amenity {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border: 1px solid seagreen;
  padding: 0.4rem;
  border-radius: 6px;
  justify-content: center;
}

.property_description_check {
  color: green;
  font-size: 1.2rem;
}
.property_description_amenity span:first-child {
  text-transform: capitalize;
}

@media (max-width: 756px) {
  .property_description_amenity span,
  .property_description_check {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .property_description_check{
    font-size: 1.4rem;
  }
}
