.ui_btn {
  background-color: var(--clrprimary);
  padding: 0.7rem;
  width: 140px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: white;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: var(--clrhover);
    transition: all 0.2s;
  }
  &:active {
    background-color: var(--clrprimary);
  }
}
